
#centerbody{
    background-image: url(./center\ bg.png);
    background-size: 100vw;
    height: 85vh;
    width:inherit;
}
#centerbodytxt{
    float: right;
    position: relative;
    top: 90px;
    right: 80px;
    font-size: 1.2rem;
    
}
#plate{
    display: flex;
    justify-content: space-around;
    padding: 40px 10px;
    background: linear-gradient(to right,rgb(255, 71, 71),orange);
    height: max-content;
    font-size: 2em;
    color: white;
    width:inherit;

}
.featuredgames{
   background-color: red;
   position: relative;
   top:40px;
   width: inherit;
   display: grid;
   grid-template-columns: repeat(3,2fr);
   
   grid-template-rows: repeat(3,1fr);
   row-gap: 20px;
   column-gap: 0px;
}
.featuredgames img{
    height: 250px;
    width: 250px;
  
}
