
#centerbody{
    background-image: url(./center\ bg.png);
    background-size: 100vw;
    height: 87vh;
    width:inherit;
}
#centerbodytxt{
    float: right;
    position: relative;
    top: 90px;
    right: 80px;
    font-size: 1.2rem;
    
}
#plate{
    display: flex;
    justify-content: space-around;
    padding: 40px 10px;
    background: linear-gradient(to right,rgb(255, 71, 71),orange);
    height: max-content;
    font-size: 2em;
    color: white;
    width:inherit;

}
.featuredgames{
   /* background-color: red; */
   position: relative;
   top:40px;
   /* width: inherit; */
   display: grid;
   /* grid-template-columns: repeat(3,32rem); */
   
   /* grid-template-rows: repeat(3,1fr); */
   grid-template-columns: repeat(3,1fr);
   row-gap: 0px;
   column-gap: 0px;
   gap: 1.5rem;
   padding-left: 100px;
   padding-right: 100px;
}
.featuredgames img{
    height: 450px;
    width: 450px;
    border: 0.01px solid rgb(208, 208, 208);
  
}
h1{
    font-size: 2.5em;
}
#darkbutton{
    background-color: black;
    color: white;
    display: inline;
    padding:  15px 25px;
    font-size: x-large;
    position: relative;
    top: 30px;
    left: 120px;
    border-radius: 2px;
}
/* .button{
    position: relative;
    top: 100px;
    left: 100px;
} */
.center{
    display: flex;
    justify-content: center;
}


#scrollbar ul li{
    display: inline;
    padding: 12px 20px;
    font-size: 20px;


}
#scrollbar{
    
}
#scrollbar ul{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 100px;
    border-bottom: 2px solid rgb(222, 222, 222);
}
#scrollbar ul li:hover{
    background-color: rgb(222, 222, 222);
}
#scrollbar ul li:first-child{
    background-color: rgb(222, 222, 222);
    border-bottom: 2px solid red;
}