
#centerbody{
    background-image: url(./center\ bg.png);
    background-size: 100vw;
    height: 87vh;
    width:inherit;
}
#centerbodytxt{
    float: right;
    position: relative;
    top: 90px;
    right: 80px;
    font-size: 1.2rem;
    
}
#plate{
    display: flex;
    justify-content: space-around;
    padding: 40px 10px;
    background: linear-gradient(to right,rgb(255, 71, 71),orange);
    height: max-content;
    font-size: 2em;
    color: white;
    width:inherit;

}
.featuredgames{
   /* background-color: red; */
   position: relative;
   top:40px;
   /* width: inherit; */
   display: grid;
   /* grid-template-columns: repeat(3,32rem); */
   
   /* grid-template-rows: repeat(3,1fr); */
   grid-template-columns: repeat(3,1fr);
   row-gap: 0px;
   column-gap: 0px;
   gap: 1.5rem;
   padding-left: 100px;
   padding-right: 100px;
}
.featuredgames img{
    height: 450px;
    width: 450px;
    border: 0.01px solid rgb(208, 208, 208);
  
}
h1{
    font-size: 2.5em;
}
#darkbutton{
    background-color: black;
    color: white;
    display: inline;
    padding:  15px 25px;
    font-size: x-large;
    position: relative;
    top: 30px;
    left: 120px;
    border-radius: 2px;
}
/* .button{
    position: relative;
    top: 100px;
    left: 100px;
} */
.center{
    display: flex;
    justify-content: center;
}


#scrollbar ul li{
    display: inline;
    padding: 12px 20px;
    font-size: 20px;
    border-left: 0.1px solid rgb(222, 222, 222);
    

}

#scrollbar ul{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 100px;
    border-bottom: 2px solid rgb(222, 222, 222);
}
#scrollbar ul li:hover{
    background-color: rgb(222, 222, 222);
}
#scrollbar ul li:first-child{
    background-color: rgb(222, 222, 222);
    border-bottom: 2px solid red;
}
.articles{
    position: relative;
    top: 100px;
    right: 5px;
    display: grid;
    gap: 1em;
    grid-template-columns:repeat(3,1fr);
    padding-left: 100px;
    padding-right: 500px;
    
}
.articles img{
    width: 470px;
}
.red{
    color: #ff4747;
}
.newstxt{
    position: relative;
    
    font-size: 1.5em;
    /* border: .1px solid grey; */
    padding: 30px;
    padding-top: 10px;
    

}
.articles > div{
    /* border: .1px solid grey; */
    box-shadow: 1px 1px 16px #8888;
    line-height: 35px;
}
.articles > div:hover  {
    background-color:white ;
}
#lowerbody{
    background-image: url(./bgimage.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 30px;
}
#lowerbodytxt{
    color: white;
    position: relative;
    top: 180px;
    left: 120px;
    font-size: 1.5rem;
}
#lowerbody img{
    width: 280px;

}
#button3{
    color: white;
    display: inline;
    border: 2px solid white;
    padding:  15px 30px;
    font-size: x-large;
    position: relative;
    top: 250px;
    left: 120px;
    border-radius: 4px;
}
#plate2{
    position: relative;
    top: -70px;
    background-color: #78c5f2;
    padding: 50px;
    padding-left: 120px;
    font-size: 1.6em;
    
}
#plate2 span{
    position: relative;
    left: 50vw;
}
#foot1 ul li{
    display: inline;
    padding-left: 60px;
    font-size: 1.2em;
    margin-top: 10px;
    line-height: 40px;
    
}

#foot1 nav ul{
    margin-left: 90px;
    padding: 30px 2px;
    padding-bottom: 50px;


}

#foot1 ul li:hover{
    color: red;
    
}
#foot1{
    background-color: #e7e5e5;
    position: relative;
    top: -70px;

    
}
#links ul li{
    display: inline;
    padding: 10px;

}
#links{
    position: relative;
    left: 70em;
    top: -195px;
    line-height: 30px;
    font-size: 1.2em;
}
#links ul li:hover{
    

}
#foot2 img{
    height: 50px;
    position: relative;
    top: 10px;

}
#foot2 ul li{
    display: inline;
    position: relative
    ;
    top: -110px;
    left: 150px;
    padding-left: 50px;
    font-size: 1.2em;
}















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































