*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

#nav1{
    background-color: black;
    height: 3em;
    
}

#nav1 ul li{
    display: inline;
    padding: 12px 23px;
    
}

.icons{
    display: flex;
    justify-content:right;
    color: white;
}

#nav2 ul li{
    /* display: inline; */
    padding: 12px 20px;
    list-style: none;
}

.icons2{
    display: flex;
    background-color: white;
}

#nav2 ul li a{
text-decoration: none;
color: black;
display: block;
padding: 0 15px;
line-height: 30px;
font-size: 20px;
width: max-content;
transition: .1s;
}

#nav2 ul li:hover > ul{
    display: block;
    background-color: white;
    color: red;
    opacity: .9;
    visibility: visible;
    transition: .1s linear;
    
}

#nav2 li:hover{
    color: red;
    
}

#nav2 ul ul{
    position: absolute;
    top:110px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    border-radius: 4px;
    

}

#nav2 ul ul li{
    width: 190px;
    display: list-item;
    position: relative;
    
}

nav ul li img{
    height: 1.28em;
}

