*{
    margin: 0;
    padding: 0;
}

#nav1{
    background-color: black;
    color: white;
}
li{
    display: inline-block;
    font-size: 4vh;
}
ul{
    display: flex;
    justify-content:end;
}
#nav2{
    max-height: max-content;
}
.fifa{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.featuredgames{
    
}

